
.login-bg {
    background: url('../../images/argeo.jpg') bottom right/cover no-repeat;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,0.2);
    object-fit: contain;
    justify-content: center;
}
.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em;
    background: #fff;
    margin: 2em;
    border-radius: 10px;
}
.login-form img {
    padding-bottom: 2em;
    width: 50%;
}
.login-form input,
.login-form button {
    width: 300px;
}

