
.page {
    /* max-width: 1050px; */
    /* margin: auto; */
}


.card {
    border-radius: 0px;
    /* border-color: black; */
    /* background:  #452a5c; */
    padding: 30px;
    /* color: white; */
    /* opacity: 0.80; */
    /* font-family: "Times New Roman", Times, serif; */
    /* border: 3px solid #452a5c; */
    /* background: linear-gradient(40deg, rgba(101,121,155,1) 0%, rgba(40,17,70,1) 100%); */
    /* background:  rgba(40,17,70,1); */
    /* background: #5C7457; */
    /* background: white; */
}


.navbar {
    background-color: #fff;
    /* max-width: 1050px; */
    /* margin: auto; */
    /* display: flex; */
    /* position: fixed; */
}

/* .navLink{ */
/*     color: black; */
/*     opacity: 0.65; */
/* } */

.navLink:hover{
    color: black;
    opacity: 0.5;
}



