
.page {
}


.card {
    border-radius: 0px;
    padding: 30px;
    /* background: linear-gradient(40deg, rgba(101,121,155,1) 0%, rgba(40,17,70,1) 100%); */
}

.cardPics {

    opacity: 0.65; 
    margin-left: 20px; 
    margin-right: 0px; 
    border-radius: 4px; 
    width: 400px; 
    height: auto; 
}

@media (max-width: 768px) {
    .cardPics {
        width: 300px; 
        padding-top: 30px; 
        padding-bottom: 30px; 
    }
}


.navbar {
    background-color: #fff;
}

/* .navLink{ */
/*     color: black; */
/*     opacity: 0.65; */
/* } */

.navLink:hover{
    color: black;
    opacity: 0.5;
}



